#how_it_works_jumbotron{
    height: 430px;
    background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    margin-bottom: 0px;
}